@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #1A1A1A;
    --cor-secundaria: #7A7A7A;
    --cor-terciaria: #D3D3D3;
    --cor-hover: #D3D3D385;
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    padding: 2rem 0 0 15%;
    display: flex;
    align-items: center;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.h2 {
    padding-right: 10px;
}

.logo {
    top: 10px;
    left: 100px;
    width: 100px;
    padding-right: 10px;
}

.card {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; 
    margin: 10px auto; 
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-text {
    color: #007BFF;
    font-weight: bold;
}

.apresentacao__conteudo {
    width: auto;
    text-align: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 14px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 30%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 0;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    text-decoration: underline;
}

.social-icon {
    width: 22px;
}

.rodape {
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.125rem;
    margin-top: auto;
}

@media (max-width: 600px) {
    body {
        background-color: #fff;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .cabecalho__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        margin: 10px auto;
        width: 70%;
    }

    .logo {
        width: 50px;
        margin-bottom: 20px;
    }
}
